/*form */
.form {
  margin-left: 10px;
  margin-top: 10px;
}

/* btn */
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;

  border: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  margin-top: 24px;
}
button:hover {
  background-color: #6c8cff;
}

/* fieldset */
fieldset {
  margin: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 0;
  width: 356px;
  height: 60px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 16px;
}

fieldset:hover {
  border-color: #000;
}

fieldset:focus-within {
  border-color: #000;
}
/* fieldset - label */
.fulfilled-label {
  margin: 24px 48px 8px 48px;
}
.rejected-label {
  margin: 24px 48px 8px 0;
}
/* delay */
input[name='delay'] {
  display: flex;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 340px;
  height: 36px;
  outline: none;
  padding-left: 16px;
  margin-top: 8px;
}

input[name='delay']:hover {
  border: 1px solid #000;
}

input[name='delay']:active,
input[name='delay']:focus {
  border: 1px solid #4e75ff;
}
.delay-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
